#trafficLightGreen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    border: 1px solid #000;
   }

#trafficLightYellow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    border: 1px solid #000;
    }

#trafficLightRed {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    border: 1px solid #000;
    float: left;
    }

#trafficLightCommon {
    width: 100px;
    margin-left: 200px;
    height: 100px;
    border-radius: 50%;
    background: black;
    border: 1px solid #000;
    position: absolute;
    }

#border1 {
    border-radius: 10px;
    margin-left: -1px;
    margin-top: -1px;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    position: absolute;
    display: inline-block;
    }

#border2 {
  border-radius: 10px;
  margin-left: -1px;
  margin-top: -1px;;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  position: absolute;
  display: inline-block;
  }

#border3 {
    border-radius: 10px;
    margin-left: -1px;
    margin-top: -1px;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    position: absolute;
    display: inline-block;
    }

#border4 {
      border-radius: 10px;
      margin-left: -1px;
      margin-top: -1px;
      width: 100px;
      height: 100px;
      border: 1px solid #000;
      position: absolute;
      display: inline-block;
      }

#line1 {
  border-left: 6px solid green;
  height: 200px;
  position: absolute;
  margin-left: 48px;
  margin-top: 102px;
  border-style: ridge;
  }

#line2 {
  border-left: 6px solid green;
  height: 200px;
  position: absolute;
  margin-left: 247px;
  margin-top: 102px;
  border-style: ridge;
  }
